In [29]:
import pandas as p
import numpy as n
import sklearn as s

In [165]:
dataset=p.read_csv("C:/Users/divya/Downloads/archive (1)/mobile_prices_2023.csv",skipinitialspace=True)

In [166]:
dataset

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Processor,Price in INR,Date of Scraping
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"Mediatek Helio A22 Processor, Upto 2.0 GHz Pro...","₹5,649",2023-06-17
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,Mediatek Dimensity 700 Processor,"₹11,999",2023-06-17
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17
3,"POCO C55 (Cool Blue, 64 GB)",4.2,"22,621",4 GB RAM,64 GB ROM,50MP Dual Rear Camera,5MP Front Camera,5000 mAh,Mediatek Helio G85 Processor,"₹7,749",2023-06-17
4,"POCO C51 (Power Black, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,Helio G36 Processor,"₹6,999",2023-06-17
...,...,...,...,...,...,...,...,...,...,...,...
1831,"Infinix Note 7 (Forest Green, 64 GB)",4.3,"25,582",4 GB RAM,64 GB ROM,48MP + 2MP + 2MP + AI Lens Camera,16MP Front Camera,5000 mAh,MediaTek Helio G70 Processor,"₹14,999",2023-06-17
1832,"Infinix Note 7 (Bolivia Blue, 64 GB)",4.3,"25,582",4 GB RAM,64 GB ROM,48MP + 2MP + 2MP + AI Lens Camera,16MP Front Camera,5000 mAh,MediaTek Helio G70 Processor,"₹14,999",2023-06-17
1833,"Infinix Note 7 (Aether Black, 64 GB)",4.3,"25,582",4 GB RAM,64 GB ROM,48MP + 2MP + 2MP + AI Lens Camera,16MP Front Camera,5000 mAh,MediaTek Helio G70 Processor,"₹14,999",2023-06-17
1834,"Infinix Zero 8i (Silver Diamond, 128 GB)",4.2,"7,117",8 GB RAM,128 GB ROM,48MP + 8MP + 2MP + AI Lens Camera,16MP + 8MP Dual Front Camera,4500 mAh,MediaTek Helio G90T Processor,"₹18,999",2023-06-17
1835,"Infinix S5 (Quetzal Cyan, 64 GB)",4.3,"15,701",4 GB RAM,64 GB ROM,16MP + 5MP + 2MP + Low Light Sensor,32MP Front Camera,4000 mAh,Helio P22 (MTK6762) Processor,"₹10,999",2023-06-17

In [167]:
data=dataset.drop(["Phone Name","Rating ?/5","Number of Ratings","ROM/Storage","Back/Rare Camera","Front Camera","Battery","Processor","Date of Scraping"],axis=1)

In [168]:
new=dataset["Price in INR"]

In [169]:
newdataset=p.DataFrame(new,columns=["price"])
newdataset
newdataset["RAM"]=dataset["RAM"]
newdataset["Price"]=dataset["Price in INR"]

In [170]:
newdataset
data=newdataset.drop(['price'],axis=1)

In [171]:
data

           RAM    Price
0     2 GB RAM   ₹5,649
1     4 GB RAM  ₹11,999
2     4 GB RAM   ₹6,999
3     4 GB RAM   ₹7,749
4     4 GB RAM   ₹6,999
...        ...      ...
1831  4 GB RAM  ₹14,999
1832  4 GB RAM  ₹14,999
1833  4 GB RAM  ₹14,999
1834  8 GB RAM  ₹18,999
1835  4 GB RAM  ₹10,999

[1836 rows x 2 columns]

In [211]:
data.RAM = data.RAM.str.strip('GB RAM')
data.Price=data.Price.str.strip('₹')
#data.RAM=data.RAM.str.strip(' GB RO')
data.Price=data.Price.str.replace(',','')

AttributeError: Can only use .str accessor with string values!

In [200]:
data

     RAM  Price
0      2   5649
1      4  11999
2      4   6999
3      4   7749
4      4   6999
...   ..    ...
1831   4  14999
1832   4  14999
1833   4  14999
1834   8  18999
1835   4  10999

[1836 rows x 2 columns]

In [203]:
#data.RAM=data.RAM.str.strip('NA').astype(float)
#data.Price=data.Price.str.strip('NA').astype(float)

In [173]:
#data['RAM'] = data['RAM'].apply(lambda x: float(x.split(1),x.replace('GB RAM', '')))

In [174]:
data.head(300)

    RAM   Price
0     2   5,649
1     4  11,999
2     4   6,999
3     4   7,749
4     4   6,999
..   ..     ...
295  12  17,999
296   8  14,999
297   8  12,999
298   2   7,499
299   6  17,999

[300 rows x 2 columns]

In [175]:
x=data.iloc[:,0].values.reshape(-1,1)
y=data.iloc[:,1].values.reshape(-1,1)

In [176]:
x

array([['2'],
       ['4'],
       ['4'],
       ...,
       ['4'],
       ['8'],
       ['4']], dtype=object)

In [177]:
y

array([['5,649'],
       ['11,999'],
       ['6,999'],
       ...,
       ['14,999'],
       ['18,999'],
       ['10,999']], dtype=object)

In [178]:
from sklearn.model_selection import train_test_split as t

In [179]:
x_train,x_test,y_train,y_test=t(x,y,test_size=0.1,random_state=0)

In [180]:
x_train.shape

(1652, 1)

In [181]:
x_test.shape

(184, 1)

In [182]:
y_train.shape

(1652, 1)

In [183]:
y_test.shape

(184, 1)

In [184]:
from sklearn.linear_model import LinearRegression

In [185]:
lm=LinearRegression()

In [190]:
lm.fit(x_train,y_train)

ValueError: could not convert string to float: 'NA'

In [60]:
pre=lm.predict(x_test)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [55]:
pre

array([[0.58491157],
       [0.83407395],
       [0.78839418],
       [0.82576854],
       [0.62851498],
       [0.66381299],
       [0.57245345],
       [0.70534005],
       [0.58075886],
       [0.75724888],
       [0.63266769],
       [0.71987452],
       [0.65135487],
       [0.80915771],
       [0.82369218],
       [0.57868251],
       [0.78424147],
       [0.62643863],
       [0.78631783],
       [0.55999533],
       [0.52885003],
       [0.6721184 ],
       [0.53507909],
       [0.88805913],
       [0.82992124],
       [0.71364546],
       [0.68457652],
       [0.48939932],
       [0.60152239],
       [0.61605686],
       [0.75517253],
       [0.45202496],
       [0.69911099],
       [0.80500501],
       [0.52885003],
       [0.53715544],
       [0.84653207],
       [0.86106654],
       [0.6368204 ],
       [0.67834746],
       [0.65758393],
       [0.87144831],
       [0.85691384],
       [0.71779817],
       [0.75101982],
       [0.78216512],
       [0.97111326],
       [0.83822666],
       [0.60775145],
       [0.65343122],
       [0.67627111],
       [0.6098278 ],
       [0.62851498],
       [0.8008523 ],
       [0.71779817],
       [0.82992124],
       [0.57245345],
       [0.85691384],
       [0.64927852],
       [0.65135487],
       [0.50601014],
       [0.90259361],
       [0.62228592],
       [0.98772409],
       [0.75932524],
       [0.65550758],
       [0.68457652],
       [0.84237936],
       [0.57245345],
       [0.71779817],
       [0.90051725],
       [0.79254689],
       [0.69703464],
       [0.57868251],
       [0.78216512],
       [0.85691384],
       [0.75932524],
       [0.69703464],
       [0.56207168],
       [0.71987452],
       [0.60152239],
       [0.85691384],
       [0.57660615],
       [0.68872923],
       [0.7385617 ],
       [0.6056751 ],
       [0.79877595],
       [0.65550758],
       [0.4457959 ],
       [0.60152239],
       [0.75724888],
       [0.79669959],
       [0.69080558],
       [0.71364546],
       [0.65758393],
       [0.93789161],
       [0.4769412 ],
       [0.55791897],
       [0.62228592],
       [0.63474404]])

In [56]:
comp=p.DataFrame(x_test,columns=['CGPA'])

In [57]:
comp["AVLDATA"]=y_test

In [25]:
comp["predictvalue"]=pre

In [26]:
comp

    CGPA  AVLDATA  predictvalue
0   7.92     0.64      0.584912
1   9.12     0.85      0.834074
2   8.90     0.80      0.788394
3   9.08     0.91      0.825769
4   8.13     0.68      0.628515
..   ...      ...           ...
95  9.62     0.95      0.937892
96  7.40     0.64      0.476941
97  7.79     0.53      0.557919
98  8.10     0.48      0.622286
99  8.16     0.64      0.634744

[100 rows x 3 columns]

In [27]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [28]:
mean_squared_error(y_test,pre)

0.004463232500088234

In [29]:
mean_absolute_error(y_test,pre)

0.04932036975238603

In [30]:
r2_score(y_test,pre)

0.7444433788008282